h1 {
    border-bottom-style: inset;
}

h5, pre {
    font-style: italic;
}

pre {
    font-size: 1.1em;
}

figure {
    display: inline-block;
    font-size: 0.7em;
    margin: 5px 12px 5px 0;
}

img.poltrona {
    width: 24px;
    height: 16px;
}

figure.corredor {
    margin-right: 60px;
}

#divPalco {
    text-align: center;
}

.linha-poltronas {
    display: inline-block;
    margin-bottom: 6px;
}
